@import 'leaflet/dist/leaflet.css';
@import 'tailwindcss';

@theme {
  --font-family-sans: 'Poppins', system-ui, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
